
**/.DS_Store
.DS_Store
deb-temp/
deb-temp/*
node_modules/
.vscode/settings.json
setup/certs/
setup/certs/*
setup/service-accounts/
setup/service-accounts/*
specs/*Full.yaml
specs/Older/
specs/Older/*
src/apiproxies/authnz/oidc/apiproxy/resources/hosted/node_modules/
src/apiproxies/authnz/oidc/apiproxy/resources/hosted/node_modules/*
test/postman/*environment.json
src/apiproxies/authnz/oidc-mock-provider/apiproxy/resources/hosted/support/clients-*.json
**/package-lock.json
specs/Notes.txt
